<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Project You.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BCE795C1E46C50100ED66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCE797B1E46C50300ED66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BCE79861E46C50300ED66D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
